<div class="grid-auto">
  <div class="unit-1"> 
    <div class="box">
      <%= render 'form' %>
    </div>
  </div>
  <div class="unit-1">
    <div class="box">
      <%= link_to 'Back to Choice', admin_product_choice_path(@product, @choice), :class => "button" %>
    </div>
  </div>
</div>
