<div class="grid-auto about">
  <div class="unit-1-1">
    <h2>FIGO Eyewear are crafted with high quality materials with customised prescription lenses.</h2>
  </div>
</div>

<div class="grid-auto info-about clearfix">
  <div class="unit-1-1">
    <h3>For a flawless finish, we use innovate manufacturing techniques to produce unparalleled durable quality frames.</h3>
  </div>
</div>

