<div class="grid-auto motto">
  <div class="unit-2-5">
    <h2>Stylish, boutique-quality eyewear.</h2>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h2 style="color: #000;">Coming Soon...</h2>
    <h2 style="color: #000; font-size: 24px">November 2013</h2>
  </div>
</div>

