<div class="grid-auto collection-banner">
  <div class="unit-1-1">
      <%= image_tag "all.jpg" %>
  </div>
</div>
<div class="grid-auto" style="padding-top: 10px;">
  <div class="unit-1-4">
    <%= render partial: 'menu' %>
  </div>
  <div class="unit-3-4 container">
    <div class="box">
        <h2>FIGO Chinese New Year Contest:</h2>
        <h3>1. How To Enter:</h3>
        <p>
          1. Download the FIGO Eyewear Mobile app.<br/>    
          For iPhone App - https://itunes.apple.com/sg/app/figoeyewear/id734368951?mt=8<br/>
          For Android App - https://play.google.com/store/apps/details?id=com.rubify.figo
          </p>
          <p>
          2. The participant must login to the App with his/her Facebook Account.
          </p>
          
          <p>
          3. The participant must take a photo with one of the frames in the app and save the photo to the FIGO Wall, with the hashtag #figocny. 
          </p>
          
          <p>
            4. The participant must share this photo on his/her Facebook wall with the hashtag #figocny.         
          </p>
          
          <p>
          5. Entries after 21st February 2014 will be disqualified. 
          </p>  
        
             
          <h3>2. Terms Of Entry:</h3>
             <p> 
                1. FIGO Eyewear reserves the right to disqualify any entry, for any reason, in its sole discretion. Any Entry that has no hashtag #figocny will not be deem eligible for the Prize. Entries not submitted in accordance with the instructions provided on Facebook page and the terms and conditions herewith, shall not be considered in the Giveaway.
             </p>

              <p>
               2. FIGO Eyewear may, in its sole discretion, disqualify any submissions, and prohibit further participation in this Contest by, any person who tampers with or benefits from any tampering with the submission process or with the operation of this Contest or acts in violation of these terms and conditions, acts in a disruptive manner or acts with the intent to annoy, abuse, threaten or harass any other person.
              </p>

              <h3>
              3. Determining The Winner: 
              </h3>
              
              <p>
              ONE (1) Winner will be randomly picked from the eligible entries received.
              </p>
              
              <h3>
              4. Announcement Of Winners:
              </h3>

              <p>
              1. The winners of the contest would be announced on the FIGO Eyewear Facebook page (http://www.facebook.com/figoeyewear). Also, FIGO Eyewear would contact the winners through Direct Messaging facility on Facebook for distribution of prizes.
              </p>

              <p>
              2. Contest winners will be notified by on Facebook through a direct message requesting details- name, address, his/ her mobile phone number, appointment date & time for eye examination by FIGO Eyewear for crafting of the Winners' lenses.
              </p>
              
              <p>
                3. FIGO Eyewear reserves the right to use any other method or medium sponsor deems fit at its sole and absolute discretion for the purpose of announcing the Contest winners.              
              </p>
              
              <p>
              4. FIGO Eyewear reserves the right to forfeit prizes for any Contest winner who does not provide the required verification upon receiving the request/notification from FIGO Eyewear.
              </p>
              
              <h3>
              5. Prize:
            </h3>
              
              <p>
              1. ONE (1) will receive a Red pack containing SGD $188 cash prize.
              </p>
              
              <p>
              2. FIGO Eyewear reserves the right to substitute any prize with prize(s) of comparable value. No request from participants for substitution of prizes with any other item/cash will be entertained by FIGO Eyewear.
            </p>
              
              <p>
              3. Prizes are non-transferable
              </p>
              
              <p>
              4. Prizes offered on 'NO EXCHANGE NO REFUND' basis.
              </p>
              
              <p>
                5. Prize recipients must, at FIGO Eyewear’s request and free of any charge, participate in any promotional activity (such as publicity and photography) surrounding the receiving of the prize, and he/she consents to sponsor using his/her name and image in any promotional material.                            
              </p>              
              
              <h3>
              6. Exclusion Of Liability
              </h3>
              
              <p>
              1. FIGO Eyewear and its related companies and agencies will not be liable for any loss (including, without limitation, indirect, special or consequential loss or loss of profits), expense, damage, personal injury or death which is suffered or sustained (whether or not arising from any person's negligence) in connection with this Contest or the acceptance or use of any prize, except for any liability which cannot be excluded by law (in which case that liability is limited to the minimum allowable by law).
              </p>
              
              <p>
              2. Nothing on the Page, or on any other website of the sponsor, or relating to this Contest, shall be construed as conferring any license or other rights under the intellectual property or other proprietary rights of the sponsor or its related companies or any third party, whether by estoppels, implication or otherwise.
              </p>
              
              <p>
              3. FIGO Eyewear and/or its agent shall be licensed to evaluate all submissions for the purposes of this Contest, including verification and as specified in these terms and conditions.
              </p>
              
              <p>
                4. The software and programming code and media relating to the Page and Promotion-related communication is protected by the applicable laws of copyright, trademark, patent, unfair competition and other proprietary laws.              
              </p>
              
              <h3>
              7. Misscellaneous
              </h3>
              
              <p>
              1. FIGO Eyewear's decisions shall be final in all matters relating to this Contest and no correspondences will be entertained.
              </p>
              
              <p>
              2. FIGO Eyewear reserves the right to change these terms and conditions without prior notice.
              </p>
              
              <p>
              3. A Participant shall be deemed to have notice of any such amendments or interpretations upon publication of the same on the Page and shall be deemed to have accepted such amendments or interpretations by virtue of his/her continued participation in this Contest. Should a Participant not wish to continue to participate in this Contest pursuant to the prevailing terms and conditions as amended or interpreted, he/she may terminate participation in this Contest upon written notice to the sponsor.
              </p>
              
              <p>
              4. Apart from the entitlement to the above prize/s, the winner and/or their legal heirs will have no other rights or claim against.              
              </p>
              
              <p>
              5. The sponsor shall not be liable for any failure to comply with its obligations caused by weather conditions, fire, flood, strike, hurricane, industrial dispute, war, hostilities, political unrest, riots, civil commotion, inevitable accidents, acts of God or any other circumstances amounting to Force Majeure.
              </p>
              
              <p>
              6. The prize/s must be self collected by the Winners at the FIGO Eyewear Retail store within 30 days of announcing the winner. If the winner fails to collect the the prize within 30 days, then his prize stands forfeited.      
            </p>
            <p>
              7. FIGO Eyewear reserves the right to collect all contest entries and publish selective photos on to FIGO Facebook Page.
            </p>
    </div>
  </div>

</div>