<div class="grid-auto collection-banner">
  <div class="unit-1-1">
      <%= image_tag "all.jpg" %>
  </div>
</div>
<div class="grid-auto" style="padding-top: 10px;">
  <div class="unit-1-4">
    <%= render partial: 'menu' %>
  </div>
  <div class="unit-3-4 container">
    <div class="box">
        <h2>Contact Us</h2>

        <h3>Our collections:</h3>
        <p>
          You’ll find our entire collection of optical glasses and sunglasses on our website and available at Figo Eyewear stores. We also display our frames in showrooms at select boutiques around the country. Certain styles (such as special edition designs and colors) may not be available in all showrooms. If you’ll be visiting one of our showrooms, feel free to email us at help@figoeyewear.com or call us at +65 6440 0877, Mon–Fri, 9am–9pm, to ensure that the styles you are interested in are available to try on!
        </p>

        <h3>You could also visit our office at: </h3>
        <p>
          481, Joo Chiat Road <br/>
          Singapore, 427685
        </p>







        <p>
          <a href="https://www.google.com/maps?q=Figo+Eyewear&hl=en&ll=1.306251,103.904754&spn=0.009407,0.008497&sll=1.309662,103.873158&sspn=0.150508,0.135956&hq=Figo+Eyewear&t=m&z=17&iwloc=A" target="_blank"><img src="https://maps.google.com/maps/api/staticmap?size=300x300&amp;maptype=roadmap&amp;sensor=false&amp;markers=color:red%7C1.306255,103.904752&amp;client=google-maps-sharing&amp;signature=gj_tDw79hTDx-v0YXESzfa5yiTo="></a>
          <br/><br/>
          <a href="https://www.google.com/maps?q=Figo+Eyewear&hl=en&ll=1.305608,103.905398&spn=0.009407,0.008497&sll=1.306255,103.904752&layer=c&cid=7959899928672700302&panoid=wAsUbW8vpLUAAAQJOIYe0Q&cbp=13,50,,0,0&hq=Figo+Eyewear&t=m&z=17&cbll=1.306226,103.904736" target="_blank">See our store 360º</a>
        </p>
        
    </div>
  </div>

</div>