<div class="grid-auto collection-banner">
  <div class="unit-1-1">
    <%= image_tag "all.jpg" %>
  </div>
</div>
<div class="grid-auto" style="padding-top: 10px;">
  <div class="unit-1-4">
    <%= render partial: 'menu' %>
  </div>
  <div class="unit-3-4 container">
    <div class="box">

        <h2>Frequently Asked Questions</h2>
      <div id="accordion-container" style="margin-top: 10px;">
        <h3 class="accordion-header">How can I try on your frames in-person?</h3>
        <div class="accordion-content">
          <p>
            You can access to our Virtual Try On, simply go to a frame's individual product page and click the "Virtual Try On" button on the right of the screen of each of our product. You can first try choosing different colour of the frame or adjusting the frame on our model. Then select the “Upload” button to see the frame on yourself!
          </p>
          <p>
            While the Virtual Try On tool gives you a great and fun gauge for how a style of a particular frame will look on you, it will not always provide an accurate sense of how it will fit you.
          </p>
          <p>
            To find out if the frame actually suits your style and personality, you can also persionally visit our shop to try the real thing. We are open from Monday to Sunday, 1130am to 930pm, we are situated at 481 Joo Chiat Road, Singapore 427685. Give us a ring at +65 6440 0877, if you cannot find us. See you there!
          </p>
        </div>

        <h3 class="accordion-header">Where and how are your frames made?</h3>

        <div class="accordion-content">
          <p>
            Our frames are made of highest-quality materials, including acetate, lightweight titanium and TR materials, to name a few. The frames are manufactured and assembled in China. We have personally visited these factories to ensure good quality control. The frames are then shipped to our warehouse in Singapore.
          </p>
        </div>
        <h3 class="accordion-header">Are your frames available in different sizes?</h3>
        <div class="accordion-content">
          <p>
            We have different sizes, different colors in different designs for you to choose from.
          </p>
        </div>

        <h3 class="accordion-header">What if my eyeglasses does not fit properly?</h3>

        <div class="accordion-content">
          <p>
            Bring your eyeglasses down to our shop and we make adjustments to the frame to fit you properly.
          </p>
        </div>

        <h3 class="accordion-header">What kind of lenses you offer?</h3>

        <div class="accordion-content">
          <p>
            We offer CR-39, prolycarbonate, trivex, polarised, photochromic, transition etc in single vision and progressive. We offer different index for different prescription. </p>
        </div>

        <h3 class="accordion-header">I have a high prescription and need high-index (ultra thin) lenses. Do you have these?</h3>

        <div class="accordion-content">
          <p>
            Certainly! We do offer ultra-thin for high prescription lenses.
          </p>
        </div>

        <h3 class="accordion-header">Can you replace the lenses in my existing Figo Eyewear frames?</h3>

        <div class="accordion-content">
          <p>
            Sure! We are happy to put new lenses into your Figo Eyewear frames. Just visit our store anytime from Monday to Sunday, 1130am to 930pm, situated at 481 Joo Chiat Road, Singapore 427685. Give us a ring at +65 6440 0877, if you cannot find us. See you there!
          </p>
        </div>

        <h3 class="accordion-header">What’s the best way to clean my lenses?</h3>
        <div class="accordion-content">
          <p>
            For simple cleaning, use the cleaning cloth that comes with your eyeglasses case provided to remove light smudges. If it’s time for some serious cleaning to remove stubborn stains, rinse the eyeglasses in soap and running water and dry with a towel.
          </p>

          <a name="shipping"></a>
        </div>
        <h3 class="accordion-header">Where can you ship purchase orders?</h3>
        <div class="accordion-content">
          <p>
            Shipping within Singapore is free. For countries outside Singapore, we ship the orders by post. Charges are as follows
          </p>
          <p>
            International Standard Mail: $10 per item <br/>
            International Air Mail: $20 per item
          </p>
          <p>
            Unfortunately, we aren't able to ship to P.O. Boxes or APO Boxes at the moment.
          </p>
        </div>
        <h3 class="accordion-header">How long will my order take to arrive?</h3>
        <div class="accordion-content">
          <p>
            While we do our best to provide a fast yet reliable service to process all of our orders, the actual processing time depends on the type of order. You should expect your order to be ready in 1-2 weeks time. For customers residing in Singapore, you could expect the delivery within 3-5 working days. For countries outside Singapore, delivery will take up to 2 weeks, depending the type of shipping chosen.
          </p>
          <p>
            There are a handful of dependant factors which could affect your order. Hence, as a rule of thumb, the more complete the prescription details are, the likelihood of getting your glasses faster is higher. Should we have questions about your order, we would follow up via email or a phone call.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>