<div class="grid-auto collection-banner">
  <div class="unit-1-1">
      <%= image_tag "all.jpg" %>
  </div>
</div>
<div class="grid-auto container">
  <div class="box">
    <h2>Help</h2>
    <h3>How can I try on your glasses in-person?</h3>
    <p>
      To access our Virtual Try On, simply go to a frame's individual product page and click the "Virtual Try On" button on the right of the screen of each of our product. You can first try choosing different colour of the frame or adjusting the frame on our model. Then select the “Upload” button to see the frame on yourself!
    </p>  
    <p>
      While the Virtual Try On tool gives you a great and fun gauge for how a style of a particular frame will look on you, it will not always provide an accurate sense of it will fit you.
    </p>
    <p>
      If you would like to find out if the frame suits you accurately or if you need further assistance in finding a suitable frame from your shop, we suggest that you come down to our shop to try the real thing. We are open from Monday to Friday, 9am to 9pm, situated at 481 Joo Chiat Road, Singapore 427685. Give us a ring at +65 9380 5961, if you cannot find us. See you there!
    </p>

    <h3>Where and how are your glasses made?</h3>
    <p>
      Our frames are made of the strongest, highest-quality materials, including acetate and lightweight titanium and TR materials from Japan and Korea. The frames are manufactured and assembled in China. We have personally visited these factories to ensure quality products are manufactured and leave them factories in good order. The frames are then shipped to our labs in the Singapore, where we cut your lenses according to your prescription.
    </p>
    <p>
      Our prescription lenses are made from polycarbonate, which is thinner and lighter than traditional plastic or glass lenses. In addition, polycarbonates are impact-resistant material on the market and offers 100% UV protection. All of our lenses are coated twice with one of the best anti-reflective and anti-scratch coatings, which promises finest quality.
    </p>

    <h3>What are your frames made of?</h3>
    <p>
      Our frames are made from the high quality materials, including acetate and lightweight titanium and TR material from Japan and Korea. All our frames are lightweight, durable and resistant and comes in exciting colours for you.
    </p>

    <h3>Are your frames available in different sizes?</h3>
    <p>
      Our frames are not available in different sizes but our collection definitely comes in various sizes for you to choose from. To have a sense of the size, please take note of the frame shape and width of each frame.
    </p>

    <h3>What if my frames don’t fit perfectly?</h3>
    <p>
      Bring your glasses down to our shop and we can do minor adjustments and test it on your to make sure that it fits you perfectly. Alternatively, you may bring your frames to other optical shops. For acetate frames, please inform your optician to avoid direct heating which may cause the lenses to be damaged. We recommend using an adjustment device that allows focused heat to be applied to the frames only. For titanium frames, they come with adjustable nose pads and spring hinges, which the optician is able to help you adjust.
    </p>

    <h3>What type of lenses do you offer?</h3>
    <p>
      We offer single vision, trivet and progressive lens. Single vision lens comes in polycarbonate, ultra thin and photochromic types. Progressive lens comes in ultra thin, polarised and transition types.
    </p>

    <h3>Can you replace the lenses in my existing Figo Eyewear frames?</h3>
    <p>
      Sure! We are happy to put new lenses into your Figo Eyewear frames. Just visit our store anytime from Monday to Friday, 9am to 9pm, situated at 481 Joo Chiat Road, Singapore 427685. Give us a ring at +65 9380 5961, if you cannot find us. See you there! 
    </p>

    <h3>I have a strong prescription and need high-index (ultra thin) lenses. Do you have these?</h3>
    <p>
      Certainly! We offer an ultra-thin for strong prescription lenses, whether it is single vision or progressive lenses.
    </p>

    <h3>What’s the best way to clean my lenses?</h3>
    <p>
      For simple cleaning, use the cleaning cloth that comes with your glasses case provided to remove light smudges. If it’s time for some serious cleaning to remove stubborn stains, rinse the glasses in soap and water and dry with a towel.
    </p>

    <h3>Where can you ship purchase orders?</h3>
    <p>
      Shipping in Singapore is free. For countries outside Singapore, we ship the orders via Singpost, UPS, FedEx. Charges are as follows
    </p>
    <p>
      International Standard Mail: $10 per item <br/>
      International Air Mail: $20 per item 
    </p>
    <p>
      Unfortunately, we aren't able to ship to P.O. Boxes or APO Boxes at the moment.
    </p>

    <h3>How long will my order take to arrive?</h3>
    <p>
      While we do our best to provide a fast yet reliable service to process all of our orders, the actual processing time depends on the type of order. You should expect your order to be ready in 1-2 weeks time. For customers residing in Singapore, you could expect the delivery within 3-5 working days. For countries outside Singapore, delivery will take up to 2 weeks, depending the type of shipping chosen.
    </p>
    <p>
      There are a handful of dependant factors which could affect your order. Hence, as a rule of thumb, the more complete the prescription details are, the likelihood of getting your glasses faster is higher. Should we have questions about your order, we would follow up via email or a phone call.
    </p>

  </div>
</div>