<div class="grid-auto collection-banner">
  <div class="unit-1-1">
      <%= image_tag "all.jpg" %>
  </div>
</div>
<div class="grid-auto" style="padding-top: 10px;">
  <div class="unit-1-4">
    <%= render partial: 'menu' %>
  </div>
  <div class="unit-3-4 container">
    <div class="box">
        <h2>Philosophy</h2>
        <h3>"Fancy eyewear does not come in fancy prices."</h3>
        <p>
          We have been in the eyewear business for the past 30 years and have amassed varied experiences in diversity of materials, market trends and customers’ needs over the years. Certainly, we take pride in offering our experience and knowledge for anyone who come into our space to seek for a pair of appealing and affordable eyeglasses with precise eye examination.
        </p>
        <p>
          However, the cost of eyewear has been very expensive in traditional optical shops due to high rental and overheads. So is there a way to keep the costs low while maintaining a fashionable and superior quality eyewear? 
        </p>
        <p>
          The good news is, FIGO offers an online solution. We source for the finest acetate, titanium, TR materials, etc and produce stylish and excellent designed eyeglasses for everyone, at affordable prices.
        </p>
        <p>
          That’s why we don’t need fancy prices to purchase fancy eyewear. 
        </p>
        <p style="margin-bottom: -43px;">
          <%= image_tag "philosophy.jpg" %>
        </p>
        
    </div>
  </div>

</div>