<div class="grid-auto collection-banner">
  <div class="unit-1-1">
      <%= image_tag "all.jpg" %>
  </div>
</div>
<div class="grid-auto" style="padding-top: 10px;">
  <div class="unit-1-4">
    <%= render partial: 'menu' %>
  </div>
  <div class="unit-3-4 container">
    <div class="box">
        <h2>Referral Campaign</h2>
        <h3>How does it work?</h3>
        <p>
          Simply refer your friends to FIGO Eyewear and be rewarded credits that you can use these credits to offset the cost of your FIGO eyewear. The more you refer, the cheaper your purchase gets. Every 1 credit is $0.50 (Singapore dollars).
        </p>

        <h3>Is there a cap to the number of credits?</h3>
        <p>
          You can keep earning credits as much as you would like to, but you can only redeem up 50 credits for each order.
        </p>
        <p>
          The credit redemption can only be use for the "Frame and lenses" package. If you are purchasing lenses only or frames only, you cannot use the credit to redeem for your order.
        </p>

        <h3>How do I earn credits?</h3>
        <p>
          There are three simple ways to earn credit: <br/>
          <ol>
            <li>Register for a FIGO account <br/>Sign in with Facebook or sign up for a FIGO account to earn yourself 10 credit!</li>
            <li>Invite friends to sign up for a FIGO account<br/>Download our FIGO Eyewear iPhone application or FIGO Eyewear Android application from Google Play Store. Login to the app via Facebook and invite your friends from Facebook to FIGO Eyewear. Every invite earns you 2 credits!</li>
            <li>Share a photo on Facebook<br/>Download our FIGO Eyewear iPhone application or FIGO Eyewear Android application from Google Play Store. Use our mobile virtual try-on to try a FIGO frame on your face virtually! Take a photo of it and publish it to wall and then share it on Facebook. Every Facebook share earns you 3 credits!</li>
          </ol>
        </p>
        
    </div>
  </div>

</div>