<div class="grid-auto collection-banner">
  <div class="unit-1-1">
      <%= image_tag "all.jpg" %>
  </div>
</div>
<div class="grid-auto" style="padding-top: 10px;">
  <div class="unit-1-4">
    <%= render partial: 'menu' %>
  </div>
  <div class="unit-3-4 container">
    <div class="box">
        <h2>Guarantee Policy</h2>
        
        <h3>What is your guarantee policy?</h3>
        <p>
          If you’re not 100% satisfied with your glasses (whether they’re prescription, non-prescription, or sunglasses), please visit our optician at 481 Joo Chiat Road, Singapore 427685, or give us a call +65 6440 0877, to rectify the problem. We handle all cases by case-by-case basis to assure you that we seek to understand the problem and provide the best possible solution.
        </p>
        </p>  

        <h3>I have returned my glasses to you — what happens next?</h3>
        <p>
          If you have requested a replacement frame color or frame style and your request is approved, we will place your new order immediately and will contact you via phone or email should we require any further information.
        </p>

        <h3>What is your return policy for shipments outside Singapore?</h3>
        <p>
          Should you wish to return your Figo Eyewear glasses, you can absolutely do so within 30 days of receiving your purchase. Kindly email us at admin@figoeyewear.com or call us at +65 6440 0877 before returning your glassses. We do not cover the cost of return shipping.
        </p>
        <p>
          Of course, if your glasses arrive with any existing damage or a prescription error caused by our lab, we will fully reimburse you for the cost of shipping them back to us. We will then issue you a full refund, or send you an exchange pair right away (at no additional shipping cost).
        </p>

    </div>
  </div>

</div>