<div class="grid-auto">
  <div class="unit-1">
    <div class="box">
      <%= render 'form' %>
    </div>
  </div>
  <div class="unit-1">
    <div class="box">
      <%= link_to 'Back to Order', admin_order_url(@order), :class => "button" %>
    </div>
  </div>
</div>